<!-- Left Column -->
<div class="row-fluid">
  <div class="col-sm-3 col-md-2">

    <h4 id="link-box">Links</h4>
    <ul class="list-unstyled">
      <li><%= link_to 'GitHub',         'https://github.com/MindsSociety/Compsoc-Website' %></li>
      <li><%= link_to 'GitHub Issues',  'https://github.com/MindsSociety/Compsoc-Website/issues' %></li>
      <li><%= link_to "Ruby",           'https://www.ruby-lang.org/en/' %></li>
      <li><%= link_to "Rails",          'http://rubyonrails.org' %></li>
      <li><%= link_to "Rails Guide",    'http://guides.rubyonrails.org' %></li>
      <li><%= link_to 'Codecademy',     'https://www.codecademy.com/learn/learn-rails' %></li>
    </ul>
  </div>
</div>

<!-- Right Column -->
<div class="row-fluid">
  <div class="col-sm-9 col-md-10">
    <h3 id="get-involved">Get Involved</h3>
    <div class="row">
      <div class="col-sm-12">
        <h4 id="git-involved">Git Involved</h4>
        <p>
        Fork the <%= link_to 'git repo', 'https://github.com/MindsSociety/Website' %>
        and send us a pull request.
        </p>

        <p>
        If you're new to git and GitHub, we've laid out some simple
        instructions below.
        </p>

        <div class="panel-group" id="git-panel" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="git-panel-heading">
              <a role="button" data-toggle="collapse" data-parent="#git-panel" href="#git-panel-body" aria-expanded="true" aria-controls="collapseOne">
                <h6 class="panel-title">
                  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Git setup instructions
                </h6>
              </a>
            </div>

            <div id="git-panel-body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="git-panel-heading">
              <div class="panel-body">
                <h4>Fork the repository</h4>
                <p>
                Fork the repository to your own GitHub. This will create a copy
                of this repository on your account, you will be able make
                changes and submit a pull request when you're done.
                </p>

                <h4>Cloning vs Forking</h4>
                <p>
                <strong>Cloning</strong> is a feature of <em>git</em> that
                allows us to download a copy, (<em>clone</em>), of a repository
                to a machine. From there you can do whatever you like to the
                code without affecting the source repository.
                </p>

                <p>
                <strong>Forking</strong> is a feature of
                <strong>GitHub</strong> that will copy the repository to your
                GitHub account. Since you own this repository you can make
                changes and push them to your fork. If you would like to push
                your changes to the original repository you can submit a
                <em>pull request</em>.
                </p>

                <p>
                For more info, take a look at this Stack Overflow answer:
                <%= link_to 'http://stackoverflow.com/a/6286877','http://stackoverflow.com/a/6286877' %>.
                </p>

                <h4>Clone your fork</h4>
                <p>and install the project <em>gems</em>.</p>
                <pre><code class="bash">git clone https://github.com/[Your GitHub Username]/Compsoc-Website.git
cd Compsoc-Website
bundle install</code></pre>

                <h4>Make some changes!</h4>
                <p>Go ahead, have fun.</p>

                <h4>Update the project <small>pull from remote branch</small></h4>
                <p>
                If there has been changes made to the compsoc repository that are
                not in your fork, you will need to pull those changes down to
                your machine.
                </p>

                <p>
                First you will need to set up a remote repository. You will
                only need to do this once.
                </p>

                <pre><code class="bash">git remote add compsoc-origin https://github.com/MindsSociety/Compsoc-Website.git</code></pre>

                <p>
                <strong>Tip:</strong> you can see a list of your remote
                repositories using <code class="bash">git remote -v</code>
                </p>

                <p>Anytime you want to update the repository, simply run:</p>

                <pre><code class="bash">git fetch
git pull compsoc-origin</code></pre>

                <h4>Submitting a Pull Request</h4>
                <p>
                A pull request is a request to add your code into the
                CompSoc-Website repository. Your request will be reviewed by
                one of the members of the Website-Team. If you've made a few
                pull-requests, you'll probably be added to the Website-Team.
                </p>

                <p>
                This can be done on the GitHub website, GitHub has written a
                pretty good guide here:
                <%= link_to 'help.github.com/articles/using-pull-requests', 'https://help.github.com/articles/using-pull-requests' %>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 id="where-to-start">Where to start</h4>
        <p>
        This website is still pretty early in development, so feel free to pick
        a page and work on it. Many pages still have a "What needs to be done"
        section. Our goal is to get rid of them!
        </p>

        <p>
        If you have an idea for a new page or service you want on the site, go
        ahead and make it, we are welcome to new ideas.
        </p>

        <p>
        If you have an idea for a page but don't quite have the time or
        know how to implement it, make a new issue on our <%= link_to 'GitHub',
        'https://github.com/MindsSociety/Compsoc-Website/issues' %>.
        </p>

        <p>
        Please make sure all changes are compliant with the
        <%= link_to 'Maynooth University Internet Publishing and Standards',
          'https://www.maynoothuniversity.ie/sites/default/files/assets/document//Maynooth%20University%20Internet%20Publishing%20Policies%20and%20Standards.pdf' %>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Ruby on Rails</h4>
        <p>
        This website is built using <em><%= link_to 'Ruby on Rails',
        'http://rubyonrails.org' %></em>, an open source web application
        framework written in Ruby.
        </p>

        <p>
        We chose <em><%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %></em>
        because it is an easy to pick up modern framework. It has plenty of
        learning resources online, like the fantastic
        <em><%= link_to 'Rails guide', 'http://guides.rubyonrails.org' %></em> and
        <em><%= link_to 'Codecademy Rails course', 'https://www.codecademy.com/learn/learn-rails' %></em>.
        It has a rich open source community developing packages, called
        <em>gems</em>, that we can make
        use of.
        </p>

        <h4>Installing Ruby on Rails</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#linux" aria-controls="linux"   role="tab" data-toggle="tab">Linux</a></li>
              <li role="presentation"><a href="#mac"                  aria-controls="mac"     role="tab" data-toggle="tab">Mac</a></li>
              <li role="presentation"><a href="#windows"              aria-controls="windows" role="tab" data-toggle="tab">Windows</a></li>
            </ul>
          </div>

          <!-- Tab panes -->
          <div class="panel-body">
            <div class="tab-content">

              <!-- Linux -->
              <div role="tabpanel" class="tab-pane fade in active" id="linux">
                <p>
                Example for the debian (Ubuntu) package manager <code>apt-get</code>
                <pre><code class="bash">sudo apt-get install ruby-dev
gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
curl -sSL https://get.rvm.io | bash -s stable --rails</code></pre>
                <p>
                <strong>Note:</strong> You may need to enter your password
                a few times during the installation.
                </p>

                <p>Fork the repo and install the necessary gems:</p>

                <pre><code class="bash">git clone https://github.com/[Your GitHub Username]/Compsoc-Website.git
cd Compsoc-Website
bundle install</code></pre>

              </div>

              <!-- Mac -->
              <div role="tabpanel" class="tab-pane fade" id="mac">
                <p>Ruby is installed by default but you may want a newer version:</p>
                <p>Install the <%= link_to 'brew package manager', 'http://brew.sh' %>:</p>
                <pre><code class="bash">/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;
brew install ruby
gem install rails</code></pre>
                <p>If you haven't already, make sure to install git and a few other useful tools:</p>

                <pre><code class="bash">brew install git curl wget</code></pre>

                <p>Fork the repo and install the necessary gems:</p>

                <pre><code class="bash">git clone https://github.com/[Your GitHub Username]/Compsoc-Website.git
cd Compsoc-Website
bundle install</code></pre>
              </div>

              <!-- Windows -->
              <div role="tabpanel" class="tab-pane fade" id="windows">
                You can find an installer online <%= link_to 'railsinstaller.org', 'http://railsinstaller.org/en' %>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Environment setup</h4>
        <p>
        We have omitted the some private production environment variables like
        api keys and the rails secret key. These can be found in our private
        Repo, committee members and website contributors should have access to
        this. Contact the committee for access to these, in the mean time, you
        may need to spoof these to get the website up and running.
        </p>

        <p>
        For the most part, this app should be good to go without setting any
        environment variables as we provide fake data for any API calls.
        </p>

        <p>
        If you want to test the site in a production environment you will need
        to set the following:
        </p>

        <pre><code class="bash">export RAILS_ENV=production
export SECRET_KEY_BASE=$(rake secret)
export RAILS_SERVE_STATIC_FILES=true
rake assets:precompile</code></pre>
      </div>
    </div>
  </div>
</div>
