<!-- Left Column -->
<div class="row-fluid">
  <div class="col-sm-3 col-md-2">

    <h4 id="link-box">Links</h4>
    <ul class="list-unstyled">
      <li><%= link_to 'GitHub',         'https://github.com/MindsSociety/Website' %></li>
      <li><%= link_to 'GitHub Issues',  'https://github.com/MindsSociety/Website' %></li>
      <li><%= link_to "Ruby",           'https://www.ruby-lang.org/en/' %></li>
      <li><%= link_to "Rails",          'http://rubyonrails.org' %></li>
      <li><%= link_to "Rails Guide",    'http://guides.rubyonrails.org' %></li>
      <li><%= link_to 'Codecademy',     'https://www.codecademy.com/learn/learn-rails' %></li>
    </ul>
  </div>
</div>

<!-- Right Column -->
<div class="row-fluid">
  <div class="col-sm-9 col-md-10">
    <h3 id="get-involved">Get Involved</h3>
    <div class="row">
      <div class="col-sm-12">
        <h4 id="git-involved">Git Involved</h4>
        <p>
        Fork the <%= link_to 'git repo', 'https://github.com/MindsSociety/Website' %>
        and send us a pull request.
        </p>

        <p>
        If you're new to git and GitHub, we've laid out some simple
        instructions over on our <%= link_to 'Git Setup', '/contribute/git' %>
        page.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Ruby on Rails</h4>
        <p>
        This website is built using <em><%= link_to 'Ruby on Rails',
        'http://rubyonrails.org' %></em>, an open source web application
        framework written in Ruby.
        </p>

        <p>
        We chose <em><%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %></em>
        because it is an easy to pick up modern framework. It has plenty of
        learning resources online, like the fantastic
        <em><%= link_to 'Rails guide', 'http://guides.rubyonrails.org' %></em> and
        <em><%= link_to 'Codecademy Rails course', 'https://www.codecademy.com/learn/learn-rails' %></em>.
        It has a rich open source community developing packages, called
        <em>gems</em>, that we can make
        use of.
        </p>

        <h4>Installing Ruby on Rails</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#linux" aria-controls="linux"   role="tab" data-toggle="tab">Linux</a></li>
              <li role="presentation"><a href="#mac"                  aria-controls="mac"     role="tab" data-toggle="tab">Mac</a></li>
              <li role="presentation"><a href="#windows"              aria-controls="windows" role="tab" data-toggle="tab">Windows</a></li>
            </ul>
          </div>

          <!-- Tab panes -->
          <div class="panel-body">
            <div class="tab-content">

              <!-- Linux -->
              <div role="tabpanel" class="tab-pane fade in active" id="linux">
                <p>
                Example for the debian (Ubuntu) package manager <code>apt-get</code>
                <pre><code class="bash">sudo apt-get install ruby-dev
gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
curl -sSL https://get.rvm.io | bash -s stable --rails</code></pre>
                <p>
                <strong>Note:</strong> You may need to enter your password
                a few times during the installation.
                </p>

                <p>Clone the repo and install the necessary gems:</p>

              </div>

              <!-- Mac -->
              <div role="tabpanel" class="tab-pane fade" id="mac">
                <p>Ruby is installed by default but you may want a newer version:</p>
                <p>Install the <%= link_to 'brew package manager', 'http://brew.sh' %>:</p>
                <pre><code class="bash">/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;
brew install ruby
gem install rails</code></pre>
                <p>If you haven't already, make sure to install git and a few other useful tools:</p>

                <pre><code class="bash">brew install git curl wget</code></pre>
              </div>

              <!-- Windows -->
              <div role="tabpanel" class="tab-pane fade" id="windows">
                You can find an installer online <%= link_to 'railsinstaller.org', 'http://railsinstaller.org/en' %>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Environment setup</h4>
        <p>
        We have omitted the some private production environment variables like
        api keys and the rails secret key. These can be found in our private
        Repo, committee members and website contributors should have access to
        this. Contact the committee for access to these, in the mean time, you
        may need to spoof these to get the website up and running.
        </p>

        <p>
        For the most part, this app should be good to go without setting any
        environment variables as we provide fake data for any API calls.
        </p>

        <p>
        If you want to test the site in a production environment you will need
        to set the following:
        </p>

        <pre><code class="bash">export RAILS_ENV=production
export SECRET_KEY_BASE=$(rake secret)
export RAILS_SERVE_STATIC_FILES=true
rake assets:precompile</code></pre>
      </div>
    </div>
  </div>
</div>
