<!-- Facebook script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row-fluid">

  <!-- Centre Column -->
  <main class="col-sm-5 col-md-7 col-sm-push-3 col-md-push-2">
    <h3 id="compsoc">Maynooth University CompSoc</h3>
    <div class="row">
      <div class="col-xs-12">
        <p>Welcome to CompSoc, the Maynooth University Computer Science Society.</p>

        <p>
        Join the discussion over in the <%= link_to 'facebook group',
          'https://www.facebook.com/groups/MINDSMaynooth/' %>.
        </p>
      </div>
    </div>
  </main>

  <!-- Left Column -->
  <aside class="col-sm-3 col-md-2 col-sm-pull-5 col-md-pull-7">
    <h3>Info</h3>

    <div class="row">
      <div class="col-sm-12">
        <h4 id="link-box">Links</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Facebook', 'https://www.facebook.com/groups/MINDSMaynooth/' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/MindsSociety/Compsoc-Website' %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 id="meetings">Meetings</h4>
        <ul class="list-unstyled">
          <li>Thursdays: 19:00 - 21:30</li>
          <li>CB1, Callan building</li>
          <li>Maynooth University</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 id="contact">Contact</h4>
        <p><%= mail_to 'minds@nuimsu.com' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 id="mailing-list">Mailing List</h4>
        <p><%= link_to 'Sign up here', '/users/new' %></p>
      </div>
    </div>
  </aside>

  <!-- Right Column -->
  <div class="col-sm-4 col-md-3">
    <h3 id="facebook">Facebook</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="fb-page"
                   data-href="https://www.facebook.com/MINDS-128184984392/"
                   data-tabs="timeline"
                   data-small-header="false"
                   data-adapt-container-width="true"
                   data-hide-cover="false"
                   data-show-facepile="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
