<%# Warning if the mailchimp api key is not found, not visible in production. %>
<% if @mailchimp.class == NewsletterHelper::FakechimpWrapper %>
  <div class="row">
    <div class="col-xs-12">
      <% if Rails.env.production? %>
        <%= alert 'danger' do %>
          <strong>Error:</strong> No valid Mailchimp API Key found, please contact
          a committee member at <%= mail_to "minds@nuimsu.com" %>.
        <% end %>
      <% else %>
        <%= alert 'warning' do %>
          <strong>Warning:</strong> No valid Mailchimp API Key found, using
          fake data.
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%# Centered articles %>
<div class="row">
  <main class="col-sm-6 col-md-7 col-sm-push-3 col-md-push-2">
    <h3>News</h3>
    <h4>What needs to be done</h4>
    <ul>
      <li><strong>Done</strong> Integration with <%= link_to "Mailchimp API", "http://developer.mailchimp.com/documentation/mailchimp/?utm_source=apidocs&utm_medium=internal_ad&utm_campaign=api_v3" %></li>
      <li>Sign up button</li>
      <li>Nicer looking sider bar</li>
      <li>Campaign list for mobile devices - I have no idea what to do with this</li>
      <li>Display latest campaign</li>
      <li><strong>Done</strong> Display a list of most recent campaigns</li>
      <ul>
        <li>Can be accomplished with a GET campaigns/campaign_id</li>
        <li>Still need to link to the emails and implement <code>newletter_controller#get_campaign</code>
      </ul>
    </ul>
  </main>

  <%# Left aligned list of campaigns. %>
  <aside class="hidden-xs col-sm-3 col-md-2 col-sm-pull-6 col-md-pull-7">
    <%= render partial: "side_bar" %>
  </aside>

  <aside class="col-sm-3 col-md-3">
    <h3>Archive</h3>
    <nav class="nav nav-pills nav-stacked">
      <% @campaign_list.each do |campaign| %>
        <li role="presentation"><%= link_to campaign['title'], "/newsletter/#{campaign['id']}" %></li>
      <% end %>
    </nav>
  </aside>
</div>

